:root{
--cor-divcentral:rgb(68, 68, 206);
--cor-branco: white;
--cor-cinza: grey;
}

header{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--cor-cinza);
    color: var(--cor-branco);
    padding: 1em;
}

.div_central{
    background: var(--cor-divcentral);
    width: 70vw;
    height: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.div_central h1{
    color: #000;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}

.div_central h3 {
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif  ;
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: grey;
    color: var(--cor-branco);
    padding: 1em;
    height: 5%;
}