* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main {
    margin-top: 60px;
}

#img-metro {
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.navegacao {
    color: #001585;
    border-radius: 6px;
    font-size: 1.75rem;
    font-weight: bolder;
    padding: 0.3% 3% 0.8% 3%;
    text-decoration: none;
    font-size: 25px;
    margin: 20px auto;
}

#principal {
    background-color: #001585;
    color: white;
    height: fit-content;
}

/* A área que contém o conteúdo */
.main-content {
    text-align: left;
    margin: 0 20px;
    padding: 20px;
    max-width: 100%;
    overflow-y: auto;
}

h2 {
    margin-top: 0;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

/* Cartão de membros */
.member-card {
    display: flex;
    flex-direction: row;
    /* Alinha imagem e texto horizontalmente por padrão */
    align-items: center;
    margin-bottom: 30px;
    background-color: #2a3c8f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Imagem dos membros */
.member-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Título e descrição dos membros */
.member-card h4 {
    color: #F8C93C;
    font-size: 1.8em;
    font-weight: bold;
}

.member-card p {
    font-size: 1.2em;
    color: #FFF;
    margin-top: 5px;
}