.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main {
    margin-top: 60px;
}

#img-metro {
    height: 50px;
}

.navegacao {
    color: #000;
    border-radius: 6px;
    font-size: 1.75rem;
    padding: 0.3% 3% 0.8% 3%;
    text-decoration: none;
}

.quadrados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.quadrado {
    background-color: #e4dfdf;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.2s;
    position: relative;
    z-index: 1;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Mantém a cor do texto */
}

.quadrado:hover {
    transform: scale(1.05);
}

.quadrado-esquerdo,
.quadrado-direito {
    background-color: #001585;

}

.quadrado-meio {
    background-color: #4F6AFF;
}

.imagem-redonda {
    width: 150px;
    height: 100px;
    margin: 0 auto 130px; /* Ajustei a margem inferior */
}

.imagem-redonda img {
    width: 100%;
    height: auto;
}

.quadrado span {
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-weight: bold;
    text-align: center;
}

#quadrados_saibamais{
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-weight: bolder;
}

input, label{
    display:block;
}