* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main {
    margin-top: 60px;
}

#img-metro {
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.navegacao {
    color: #001585;
    border-radius: 6px;
    font-size: 1.75rem;
    font-weight: bolder;
    padding: 0.3% 3% 0.8% 3%;
    text-decoration: none;
    font-size: 25px;
    margin: 20px auto;
}

#principal {
    background-color: #001585;
    color: white;
    height: 600px;
}

/* Estilo para acessibilidade */
body.protanopia {
    filter: url(#protanopia);
}

body.deuteranopia {
    filter: url(#deuteranopia);
}

body.tritanopia {
    filter: url(#tritanopia);
}

/* Outras regras para opções de acessibilidade */
.accessibility-options input {
    display: none;
}

.svg1 {
    display: none;
}
.accessibility-options label {
    padding: 10px;
    background-color: #1286e6;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:checked + label {
    background-color: #003b64;
    color: white;
}

.filter-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #003b64;
    color: #1286e6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-button:hover {
    background-color: #ffcc00;
}


#daltonismo-select {
    position: absolute;
    margin-left: 40%; 
    margin-top: 0.2%;  
    border-radius: 10%; 
    z-index: 1000;
    background-color: #1286e6;
    color: white;
    border: none;
    padding: 1px 1px;
    border-radius: 1px;
    font-size: 14px;
    cursor: pointer;
}

#daltonismo-select:hover {
    background-color: #0e6bb4;
}
@media (max-width:300px) {
    #daltonismo-select {
        margin-left: 30%;
    }
    
}