* {
    box-sizing: border-box;
}

nav {
    height: 60px;
}

body {
    overflow-x: hidden;
    margin: 0;
}

/* Estilos do header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#img-metro {
    height: 60px;
}

.navegacao {
    color: #001585;
    border-radius: 6px;
    font-size: 1.75rem;
    font-weight: bolder;
    padding: 0.3% 3% 0.8% 3%;
    text-decoration: none;
    font-size: 25px;
    margin: 20px auto;
}

/* Ajusta o conteúdo principal para não ficar embaixo do cabeçalho fixo */
#principal {
    background: #001585;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    margin-top: -35px;
    font-size: 12px;
}

/* A área que contém o conteúdo */
.main-content {
    text-align: left;
    margin: 0 20px;
    padding: 20px;
    max-width: 100%;
    overflow-y: auto;
}

h2 {
    margin-top: 55px;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.objective-text {
    overflow: hidden;
    font-size: 2em;
}

p {
    font-size: 2em;
    margin-top: 10px;
    position: relative;
    padding-left: 50px;
}

.linha-verde::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #00FF55;
    border: 2px solid black;
    border-radius: 50%;
}

.linha-azul1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #008CFF;
    border: 2px solid black;
    border-radius: 50%;
}


.linha-amarela {
    width: 70%; 
    height: 10px; 
    background-color: #F8C93C;
    margin-bottom: 30px; 
    margin: 20px auto;
}

.linha-azul {
    width: 50%; 
    height: 10px; 
    background-color: #0028FF; 
    margin: 20px auto;
    
}
